In [2]:
'''
  Tuples

  Tuples are used to store multiple items in a single variable.

  A tuple is a collection which is ORDERED and UNCHANGEABLE (IMMUTABLE).

  Tuples are written with round brackets.

  Tuple items can be of any data type.

  A tuple can contain different data types.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla')
print(my_tuple)
print(type(my_tuple))

('Apple', 'Microsoft', 'Amazon', 'Tesla')
<class 'tuple'>

In [3]:
'''
  Tuple Items

  Tuple items are ordered, unchangeable, and allow duplicate values.
  Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

  Ordered

  When we say that tuples are ordered, it means that the items have a defined order, 
  and that order will not change.

  Unchangeable

  We cannot change, add or remove items after the tuple has been created.

  Allow Duplicates

  Since tuples are indexed, they can have items with the same value.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla', 'Apple', 'Amazon')
print(my_tuple)

('Apple', 'Microsoft', 'Amazon', 'Tesla', 'Apple', 'Amazon')

In [5]:
'''
  Tuple Length

  To determine how many items a tuple has, use the len() function.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla')
print(len(my_tuple))

4

In [6]:
'''
  Create Tuple With One Item
  To create a tuple with only one item, we have to add a comma after the item, 
  otherwise Python will not recognize it as a tuple.
'''

# tuple
my_tuple = ('Apple',)
print(type(my_tuple))

# NOT a tuple
my_tuple = ('Apple')
print(type(my_tuple))

<class 'tuple'>
<class 'str'>

In [7]:
'''
  The tuple() Constructor
  It is also possible to use the tuple() constructor to make a tuple.
'''

my_tuple = tuple(("Apple", "Microsoft", "Amazon")) # note the double round-brackets
print(my_tuple)

('Apple', 'Microsoft', 'Amazon')

In [ ]:
'''
  Access Tuple Items

  Access the tuple items by referring to the index number, inside square brackets.
  The first item has index 0.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla')
print(my_tuple[0])

In [8]:
'''
  Negative Indexing
  Negative indexing means start from the end.

  -1 refers to the last item, -2 refers to the second last item etc.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla')
print(my_tuple[-1])

Tesla

In [11]:
'''
  Range of Indexes

  We can specify a range of indexes by specifying where to start and where to end the range.

  When specifying a range, the return value will be a new tuple with the specified items.

  The search will start at index 2 (included) and end at index 5 (not included).
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla', 'Apple', 'Amazon')
print(my_tuple[2:5])

# By leaving out the start value, the range will start at the first item

print(my_tuple[:5])

# By leaving out the end value, the range will go on to the end of the list

print(my_tuple[2:])

('Amazon', 'Tesla', 'Apple')
('Apple', 'Microsoft', 'Amazon', 'Tesla', 'Apple')
('Amazon', 'Tesla', 'Apple', 'Amazon')

In [12]:
'''
  Check if Item Exists

  To determine if a specified item is present in a tuple use the in keyword.
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon', 'Tesla', 'Apple', 'Amazon')

if 'Apple' in my_tuple:
  print('Apple is in my_tuple')

Apple is in my_tuple

In [3]:
'''
  Change Tuple Values

  Once a tuple is created, we cannot change its values.
  Tuples are unchangeable, or immutable as it also is called.

  But there is a workaround. We can convert the tuple into a list, change the list,
  and convert the list back into a tuple.

  We can also add or remove elements from tuple in this way.

  We can delete the tuple completely with the del keyword
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon')
my_list = list(my_tuple)
my_list[1] = 'Tesla'
my_tuple = tuple(my_list)

print(my_tuple)

del my_tuple

# print(my_tuple) # This will raise an error because the tuple no longer exists

('Apple', 'Tesla', 'Amazon')

In [6]:
'''
  Unpacking a Tuple

  When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
  We are also allowed to extract the values back into variables. This is called "unpacking"
'''

my_tuple = ('Apple', 'Microsoft', 'Amazon')
(apple, ms, amazon) = my_tuple

print (apple, ms, amazon)

'''
  The number of variables must match the number of values in the tuple, if not, 
  we must use an asterisk to collect the remaining values as a list.
'''

(apple, *others) = my_tuple

print(apple, others)

'''
  If the asterisk is added to another variable name than the last, 
  Python will assign values to the variable until the number of values 
  left matches the number of variables left.
'''

(apple, *others, amazon) = my_tuple
print (apple, others, amazon)

Apple Microsoft Amazon
Apple ['Microsoft', 'Amazon']
Apple ['Microsoft'] Amazon

In [9]:
'''
  Loop Through a Tuple
  
  Iterate through the items and print the values.
'''
my_tuple = ('Apple', 'Microsoft', 'Amazon')
for company in my_tuple:
  print(company)

'''
  We can also loop through the tuple items by referring to their index number.

  Use the range() and len() functions to create a suitable iterable.
'''

for i in range(len(my_tuple)):
  print(my_tuple[i])

Apple
Microsoft
Amazon
Apple
Microsoft
Amazon

In [11]:
'''
  Join Two Tuples

  To join two or more tuples you can use the + operator.
'''
my_tuple_1 = ('Apple',)
my_tuple_2 = ('SpaceX',)

joined_tuple = my_tuple_1 + my_tuple_2

print(joined_tuple)

('Apple', 'SpaceX')

In [13]:
'''
  Multiply Tuples
  If we want to multiply the content of a tuple a given number of times, we can use the * operator.
'''

my_tuple = ('Apple',)
multiplied_tuple = my_tuple * 4

print(multiplied_tuple)

('Apple', 'Apple', 'Apple', 'Apple')